## ML-Assignment 3

## Problem statment
    1) Extract the zip file 
    2) In the train folder you have images of two categories cat and dog
    3) Write a code that will separate dogs image with cats images and put all the dog image in dog folder and cat images in cat folder
    4) Then convert each images into grayscale and resize each image into shape of (100,100)
    5) Then convert into vectors with their corresponding label(cats and dogs)

## importing libraries

In [2]:
import numpy as np
import cv2
import os
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

creating flder to save particular images and then reading them to convert into vectors

In [3]:
for j in range(1,2):
        os.mkdir(r"/home/dharani/Documents/images for prgmg/animals{}".format(j))
for i in range(0,12500):
        img=cv2.imread(r"/home/dharani/Documents/images for prgmg/train/cat."+str(i)+".jpg")
        cv2.imwrite(r"/home/dharani/Documents/images for prgmg/animals{}/{}.jpg".format(j,i),img)
        cv2.destroyAllWindows()

creating a Data Frame with the vecotrs as field

In [21]:
list1=[]
for i in range(0,1000):
    img=cv2.imread(r"/home/dharani/Documents/images for prgmg/animals1"+"/"+str(i)+'.jpg')
    scale_percent =2# percent of original size
    width = int(img.shape[1] * scale_percent / 100)
    height = int(img.shape[0] * scale_percent / 100)
    dim = (width, height)
    resized = cv2.resize(img, dim, interpolation = cv2.INTER_AREA).flatten()
    list1.append(resized.tolist())

In [22]:
data=pd.DataFrame(list1)
data["Label"]="cat"

In [23]:
data

,0,1,2,3,4,5,6,7,8,9,...,891,892,893,894,895,896,897,898,899,Label
0,101,176,219,121.0,200.0,242.0,117.0,189.0,238.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
1,49,48,41,85.0,74.0,74.0,106.0,102.0,125.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
2,172,160,162,99.0,92.0,114.0,104.0,99.0,115.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
3,164,178,187,148.0,166.0,175.0,136.0,152.0,159.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
4,166,171,183,173.0,180.0,195.0,179.0,187.0,202.0,174.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,82,95,99,134.0,156.0,159.0,144.0,167.0,170.0,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
996,167,166,162,193.0,187.0,180.0,160.0,164.0,158.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
997,143,152,165,149.0,160.0,175.0,144.0,162.0,184.0,161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
998,238,230,238,238.0,230.0,238.0,238.0,230.0,237.0,239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat
999,126,137,187,109.0,113.0,133.0,72.0,78.0,92.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cat

In [34]:
print("the total pixels dimensions after flatening of each image maynot be equal to other,so having null values variangly")
print(data.iloc[2].isna().sum())
print(data.iloc[999].isna().sum())
for i in range(1,999):
     if data.iloc[i].isna().sum()<50:
                print("there are datapoints which contains no /low nan values")
                print(i)
print("for example 835 row has :",data.iloc[835].isna().sum(),"null values")

the total pixels dimensions after flatening of each image maynot be equal to other,so having null values variangly
774
810
there are datapoints which contains no /low nan values
835
for example 835 row has : 0 null values

In [35]:
for j in range(0,1):
        os.mkdir(r"/home/dharani/Documents/images for prgmg/animals{}".format(j))
for i in range(0,12500):
        img=cv2.imread(r"/home/dharani/Documents/images for prgmg/train/dog."+str(i)+".jpg")
        cv2.imwrite(r"/home/dharani/Documents/images for prgmg/animals{}/{}.jpg".format(j,i),img)

In [38]:
list0=[]
for i in range(0,500):
            img=cv2.imread(r"/home/dharani/Documents/images for prgmg/animals0"+"/"+str(i)+'.jpg')
            scale_percent = 3 # percent of original size
            width = int(img.shape[1] * scale_percent / 100)
            height = int(img.shape[0] * scale_percent / 100)
            dim = (width, height)
            resized = cv2.resize(img, dim, interpolation = cv2.INTER_AREA).flatten()
            list0.append(resized.tolist())

In [39]:
data=pd.DataFrame(list0)
data["Label"]="dog"

In [40]:
data

,0,1,2,3,4,5,6,7,8,9,...,621,622,623,624,625,626,627,628,629,Label
0,154,147,147,150,136,140,158,143,147,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
1,72,108,144,63,100,142,59,92,112,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
2,182,155,135,166,131,102,136,162,182,123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
3,190,206,209,189,206,214,184,203,211,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
4,179,197,203,159,159,166,122,127,122,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,181,188,176,192,203,195,172,180,174,151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
496,155,166,166,167,175,175,127,140,147,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
497,141,144,142,147,149,148,146,148,148,138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
498,54,118,98,49,117,95,47,119,97,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog
499,19,35,43,22,40,50,20,45,67,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dog

In [41]:
data.set_index('Label')

,0,1,2,3,4,5,6,7,8,9,...,620,621,622,623,624,625,626,627,628,629
Label,,,,,,,,,,,,,,,,,,,,,
dog,154,147,147,150,136,140,158,143,147,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,72,108,144,63,100,142,59,92,112,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,182,155,135,166,131,102,136,162,182,123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,190,206,209,189,206,214,184,203,211,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,179,197,203,159,159,166,122,127,122,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dog,181,188,176,192,203,195,172,180,174,151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,155,166,166,167,175,175,127,140,147,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,141,144,142,147,149,148,146,148,148,138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,54,118,98,49,117,95,47,119,97,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dog,19,35,43,22,40,50,20,45,67,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN